  
  .content-container {
    width: 100%;
    height: 80px;
    margin: auto;
    max-width: 1500px;
  }

  /* Welcome Page Styling */
  .login-page {
    height: 100vh !important;
  }

  
  .login-text-stack {
    margin-top: 50%;
    margin-left: 25px;
    color: white;
  }
  
  .login-btn {
    margin-top: 20px;
    width: 220px;
    height: 50px;
    color: #5ecdd1 !important;
    background: #0c222f;
    border: 1px solid #2a545c;
    box-shadow: 0 20px 40px rgba(48, 191, 84, 0.08);
    border-radius: 8px;
    padding: 10px 28px;
  }
   
  
.login-text {
    text-transform:none;
    text-align: left;
    margin-bottom: 8px;
    /* background:  */
  }
  .login-dashboard__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 20%;
  }

  /* Image Styling */
  .login-dashboard-image {
    margin: auto;
    margin-top: 200px !important;
  }

  
@media screen and (max-width: 1199px) {
    
  .login-text-stack {
    margin-top: 32%;

  }

  .login-dashboard__title {
    display:none;  
  }
  .login-text {
    text-align: center;
  }
}
