.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    border: none !important;
}

.nav-tabs .nav-link.active {
    color: #00878C;
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #00878C !important;
}


.nav-tabs .nav-link:hover {
    color: #00878C;
    border: none !important;
    border-bottom: 1px solid #00878C !important;
}

.table {
    border: 1px solid #2e323b;
    border-radius: "8px";
}

.table thead {
    background-color: #2e323b; 
    border-radius: 8px !important;
}