@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: just make scrollbar invisible */
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #061427;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
}

.content-container {
  width: 100%;
  height: 80px;
  margin: auto;
  max-width: 1500px;
}

/* Welcome Page Styling */
.welc-page {
  height: 100vh !important;
}

.welc-text-stack {
  margin-top: 30%;
  margin-left: 25px;
  color: white;
}

.welcome-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #5ecdd1;
  /* background: #0c1b2f; */
  /* border: 1px solid #2a545c; */
  /* box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.14); */
  width: 240px;
  height: 34px;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  /* background:  */
}

.hero-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff;
}

.hero-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #c2c4d1;
}

.welc-btn {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  color: #5ecdd1 !important;
  background: #0c222f;
  border: 1px solid #2a545c;
  box-shadow: 0 20px 40px rgba(48, 191, 84, 0.08);
  border-radius: 8px;
}

.welc-btn:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
}

.learn-more {
  margin-top: 27px;
  color: #5ecdd1;
  text-decoration: none;
}

.learn-more a {
  font-size: 16px;
  color: #5ecdd1;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.24);
  text-decoration: none;
}

/* Image Styling */
.dashboard-image {
  margin-top: 22%;
  width: 700px;
  border: 1px solid #2a545c;
  box-shadow: 0 20px 40px rgba(48, 191, 84, 0.14);
  height: 550px;
  border-radius: 8px;
}

.dashboard-image .dashboard-header {
  background: #0c222f;
  border: 1px solid #2a545c;
  height: 30px;
  border-radius: 8px 8px 0px 0px;
}

.dashboard-image .dashboard-header .dashboard-row {
  display: flex;
  margin-top: 9px;
  margin-left: 9px;
  width: 50px;
}

.dashboard-image .dashboard-header .dashboard-circle {
  background: #365f61;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: auto;
}

.dashboard-img-container {
  width: 100%;
  height: 525px;
  border-radius: 8px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.desc-panel-text {
  margin-top: 20%;
}

.about-column {
  transition: all 100ms ease-in;
}
.about-column:hover {
  transform: scale(1.1);
}

.about-row {
  width: 80%;
  margin: auto;
}

.about-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 62px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.about-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #c2c4d1;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.about-icon {
  color: #5ecdd1;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 20%;
  font-size: 34px;
}

.about-icon svg {
  /* box-shadow: 0px 0px 80px rgba(48, 75, 191, 1); */
  background: #0a1135;
}

.about-mini-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.about-mini-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c2c4d1;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.stats-panel {
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.08);
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 45px;
  margin: 200px auto !important;
}

.stats-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.stats-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c2c4d1;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.contact {
  max-width: 1241px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px;
}

.contact__form-wrapper {
  background-color: rgba(48, 191, 111, 0.05);
  max-width: 60%;
  padding: 16px 70px;
  border-radius: 0 170px;
  /* background-image: url(../images/rectangle2.png);
  max-width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.contact__form {
  width: 379px;
  max-width: 80%;
  background: #061327;
  border: 1px solid #2a545c;
  margin: 16px auto;
  border-radius: 0 30px;
  padding: 31px 27px;
  transform: scale(1.3);
}
.contact__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-transform: capitalize;
  color: #5ecdd1;
  margin: 0 0px 20px 10px;
  padding: 0;
  max-width: 90%;
}

.contact__form__fieldset {
  max-width: 90%;
  text-align: left;
  border: none;
  margin: 0 auto;
  padding: 0;
}

.contact__form__input {
  min-width: 100%;
  height: 45px;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0 20px 40px rgba(48, 75, 191, 0.08);
  border-radius: 10px;
  margin: 0;
  padding: 4px 0px;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  padding-left: 12px;
  color: #fff;
}

.contact__form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  text-transform: capitalize;
  color: #fff;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
}

.contact__form__input-txt {
  margin-top: 10px;
  min-width: 100%;
  height: 162px;
  resize: none;
  border-radius: 10px;
  padding: 4px 12px;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  text-transform: capitalize;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.08);
  color: #fff;
}

.contact__form__input-txt::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  text-transform: capitalize;
  color: #fff;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
}

.contact__info-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #0082fe;
  margin: 0;
}

.contact__form__button {
  color: #5ecdd1;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  min-width: 100%;
  height: 50px;
  padding: 15px auto;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 10px;
}

.contact__form__button:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
}

.contact__info {
  max-width: 40%;
  margin: 0 auto;
}

.contact__info-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #5ecdd1;
  margin: 6px 0 20px 0;
  max-width: 90%;
}

.contact__info-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #c2c4d1;
  max-width: 90%;
}

.contact__info__address {
  padding: 0;
  margin: 0;
}

.contact__info__address-item {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact__info__address-link {
  text-decoration: none;
  padding: 0;
  margin: 0 19px 0 0;
}

.contact__info__address-icon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5ecdd1;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  height: 34px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .contact {
    justify-content: center;
    padding-bottom: 75px;
    max-width: 100%;
  }

  .contact__info {
    max-width: 80%;
  }

  .contact__info-title {
    max-width: 100%;
    margin: 0 0 10px;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;
  }

  .contact__info-subtitle {
    margin: 0 0 10px;
    font-size: 1rem;
    text-align: center;
    max-width: 100%;
  }

  .contact__info__address-item {
    text-align: center;
  }

  .contact__info__address-icon {
    font-size: 0.6rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
  }

  .contact__info__address-link {
    margin: 0 5px;
  }

  .contact__form-wrapper {
    padding: 8px 33px;
  }
}

@media screen and (max-width: 600px) {
  .contact__form {
    width: 100%;
  }

  .contact__form-wrapper {
    max-width: 90%;
  }

  .about-title {
    font-size: 34px;
    line-height: 45px;
  }

  .about-description {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .contact__info {
    max-width: 90%;
  }

  .contact__info-title {
    max-width: 100%;
  }

  .contact__form-wrapper {
    padding: 8px 30px;
  }

  .contact__form {
    max-width: 90%;
    padding: 15px 13px;
    transform: scale(1.2);
  }
}

.review-panel-text {
  margin-top: 15%;
}

.review-text {
  color: white;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
}

.review-row {
  width: 80%;
  margin: auto;
}

.review-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 62px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin: 30px 0px;
}

.review-inside-wrapper {
  max-width: 100%;
}

.big-review-card {
  border-radius: 10px;
  width: 370px;
  height: 570px;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.03);
}

.small-review-card {
  border-radius: 10px;
  margin-bottom: 18px;
  width: 370px;
  height: 316px;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.03);
}

.medium-review-card {
  border-radius: 10px;
  margin-top: 67px;
  width: 370px;
  height: 360px;
  background: #0c1b2f;
  border: 1px solid #2a545c;
  box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.03);
}

.review-card-input {
  width: 370px;
  height: calc(100%-80px);
  border-radius: 8px 8px 0px 0px;
  background: red;
}
.top-card-wrapper {
  height: 80%;
}

.bottom-card-wrapper {
  height: 20%;
  border-radius: 0 0 10px 10px;
  background-color: #1b2d3c;
  display: flex;
  align-items: center;
}

.review-card-name-text {
  color: white;
  margin-bottom: 3px;
  font-size: 15px;
}

.review-card-company-text {
  color: white;
  font-size: 14px;
  margin: 0;
}

.social-panel {
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 45px;
  width: 650px;
  margin: 200px auto !important;
}

.social-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 62px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-card-wrapper {
  display: flex;
  justify-content: center;
}

.social-card {
  background: #0c1b2f;
  width: 150px;
  height: 60px;
  border-radius: 10px;
}

.social-icon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #5ecdd1;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.social-card-wrapper:hover .social-icon {
  color: white;
}

.footer {
  margin: 0 auto;
  max-width: 90%;
}

.footer__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 40px;
  flex-direction: row;
  border-bottom: 1px solid #5ecdd1;
}

.footer__company {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.footer__logo {
  margin: 0;
  transition: 0.3s linear;
}

.footer__logo:hover {
  transition: 0.3s linear;
  transform: scale(1.2);
}

.footer__company-txt {
  max-width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #717fa5;
}

.footer__item {
  margin: 0;
  max-width: 90%;
}

.footer__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #5ecdd1;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list-item {
  font-size: 16px;
  line-height: 36px;
  color: #717fa5;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.footer__list-item:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
  color: #0082fe;
}

.footer__form {
  margin: 0;
  padding: 0;
}

.footer__form__fieldset {
  border: none;
  width: 90%;
  padding: 0;
  margin: 0;
}

.footer__wraper {
  position: relative;
  max-width: 90%;
  padding: 0;
}

.footer__form-input {
  background-color: #ebf1ff;
  border-radius: 10px;
  margin: 0;
  border: none;
  height: 50px;
  padding: 0 15px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #717fa5;
  outline: none;
}

.footer__form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #717fa5;
}

.footer__form_button {
  background-color: #0082fe;
  border-radius: 0px 10px 10px 0px;
  padding: 13px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  right: -95px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer__form_button:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
}

.footer__form_button:active {
  border: none;
}

.footer__form-input::placeholder {
  font-size: 12px;
  line-height: 18px;
  color: #717fa5;
}

.footer__social {
  margin-top: 20px;
}

.footer__social-link {
  text-decoration: none;
  margin: 0 20px 0 0;
}

.footer__social-link:hover {
  border: none;
}

.footer__social-img {
  border: 1px solid #ebf1ff;
  border-radius: 10px;
  padding: 12px;
  text-decoration: none;
  transition: 0.3s linear;
}

.footer__social-img:hover {
  transition: 0.3s linear;
  transform: scale(1.3);
}

.footer__rights {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #717fa5;
  padding-bottom: 28px;
  margin: 28px auto 0 0;
}

@media screen and (max-width: 900px) {
  .footer__elements {
    max-width: 90%;
    padding: 0 0 40px;
    justify-content: space-evenly;
  }

  .footer__item {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .review-card-wrapper {
    display: flex !important;
    justify-content: center;
  }
  .first-card {
    margin-bottom: 13px !important;
  }
  .stats-panel {
    display: block;
    width: 350px;
  }
  .stats-panel-card:not(:first-child) {
    margin-top: 55px;
  }

  .social-card-wrapper:last-child {
    margin-bottom: 25px;
  }
  .big-review-card {
    margin-bottom: 10px;
  }
  .small-review-card {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .footer__elements {
    max-width: 100%;
    justify-content: space-evenly;
  }

  .welc-btn {
    transform: scale(1);
  }

  .footer__company {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10px;
  }

  .footer__wraper {
    padding-bottom: 20px;
  }

  .footer__item {
    max-width: 90%;
  }

  .footer__social {
    width: 100%;
    margin: 0;
  }

  .footer__social-link {
    margin: 0;
  }

  .footer__form-input {
    padding: 0 25px;
  }

  .footer__form_button {
    right: -80px;
    padding: 15px;
  }

  .review-inside-wrapper {
    width: 100%;
  }
  .medium-review-card {
    width: 100%;
  }
  .big-review-card {
    width: 100%;
  }
  .small-review-card {
    width: 100%;
  }
  .review-text {
    line-height: 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-image {
    display: none;
  }
  .social-panel {
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 45px;
    width: 450px;
    margin: 200px auto !important;
  }

  .social-title {
    font-size: 28px;
    line-height: 62px;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .social-card {
    background: #0c1b2f;
    width: 110px;
    height: 60px;
    border-radius: 10px;
  }

  .social-icon {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #5ecdd1;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: none;
  }
  .footer-links-wrapper {
    text-align: center !important;
  }

  .welc-btn-wrapper {
    justify-content: start;
  }

  .welc-text-stack {
    margin-left: 0 !important;
  }

  .welc-left-side {
    width: 100% !important;
  }

  .welcome-text {
    align-self: center !important;
  }

  .hero-title {
    text-align: center !important;
    width: 100% !important;
  }

  .hero-description {
    text-align: center !important;
    width: 50% !important;
    margin: auto;
  }

  .welc-btn-wrapper {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .dashboard-image {
    display: none;
  }
  .welc-text-stack {
    margin-left: 0 !important;
  }

  .welc-left-side {
    width: 100% !important;
  }

  .welcome-text {
    align-self: center !important;
  }

  .hero-title {
    text-align: center !important;
    width: 100% !important;
  }

  .hero-description {
    text-align: center !important;
    width: 50% !important;
    margin: auto;
  }

  .welc-btn-wrapper {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
  .dashboard-image {
    display: none;
  }

  .welc-text-stack {
    margin-left: 0 !important;
  }

  .welc-left-side {
    width: 100% !important;
  }

  .welcome-text {
    align-self: center !important;
  }

  .hero-title {
    text-align: center !important;
    width: 100% !important;
  }

  .hero-description {
    text-align: center !important;
    width: 50% !important;
    margin: auto;
  }

  .welc-btn-wrapper {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
  .dashboard-image {
    margin-top: 28%;
    width: 500px;
    border: 1px solid #2a545c;
    box-shadow: 0px 20px 40px rgba(48, 75, 191, 0.14);
    height: 450px;
    border-radius: 8px;
  }

  .dashboard-img-container {
    height: 430px;
  }

  .dashboard-image .dashboard-header {
    background: #0c222f;
    border: 1px solid #2a545c;
    height: 30px;
    border-radius: 8px 8px 0px 0px;
  }

  .dashboard-image .dashboard-header .dashboard-row {
    display: flex;
    margin-top: 9px;
    margin-left: 9px;
    width: 50px;
  }

  .dashboard-image .dashboard-header .dashboard-circle {
    background: #363661;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1700px) {
}
@media only screen and (min-width: 1700px) and (max-width: 1850px) {
}
